p {
  line-height: 1.5em;
}

.post{
    background-color: lightgrey;
    width: 50em;
    height: 5em;
    font-size: 20px;
    font-family: cursive;
}

.spoiler{
    color: black;
    background-color: black;
    transition: 0.3s;
}

.spoiler:hover{
    color: black;
    background-color: transparent;
}